/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
/* Varibales */
/* General */
html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #0E153D;
}

/* Remove padding from all containers*/
.container {
  padding: 0;
}

/* General button theme */
.btn-theme {
  background-color: #20D3C2;
  color: #FFFFFF;
  border-radius: 25px;
  font-weight: 500;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.btn-theme:hover {
  background-color: #0E153D;
  color: #FFFFFF;
}
.btn-theme:focus {
  background-color: #0E153D;
  color: #FFFFFF;
}

/* General white button theme */
.white-btn {
  color: #20D3C2;
  background-color: #FFFFFF;
  border-radius: 25px;
  border: none;
  font-weight: 500;
  font-size: 1.125rem;
  padding: 0.625rem 1.563rem;
  margin: 0.938rem 0;
}
.white-btn:hover {
  background-color: #20D3C2;
  color: #FFFFFF;
}
.white-btn:focus {
  background-color: #20D3C2;
  color: #FFFFFF;
}

/* General style for text sections between content */
.text-section {
  color: #0E153D;
  text-align: center;
}
.text-section h1 {
  font-family: "Play", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
}
.text-section h1 span {
  color: #20D3C2;
}
.text-section img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.text-section p {
  padding: 1rem 0;
}

/* General grid layout start */
.products-grid {
  padding: 1rem 0 8rem 0;
  display: flex;
  justify-content: center;
}
.products-grid .product-box {
  position: relative;
  background-color: #EEEEEE;
  border-radius: 8px;
  height: 100%;
  width: 26rem;
  overflow: hidden;
}
.products-grid .product-box img {
  height: 400px;
  width: 100%;
}
.products-grid .product-box:hover .product-menu {
  top: 5%;
}
.products-grid .product-box:hover .product-body {
  height: 42%;
}
.products-grid .product-box:hover .product-background {
  height: 100%;
}
.products-grid .product-box .product-menu {
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 5%;
  list-style: none;
  margin: auto;
  padding: 0.6rem;
  font-size: 1.25rem;
  border: 1px solid black;
  border-radius: 25px;
  background: #FFFFFF;
  transition: top 0.3s ease-in-out;
}
.products-grid .product-box .product-menu li {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.products-grid .product-box .product-menu li a {
  color: #AAAAAA;
  display: inline-block;
  position: relative;
}
.products-grid .product-box .product-menu li a .tooltiptext {
  display: none;
}
.products-grid .product-box .product-menu li a:hover {
  color: #20D3C2;
}
.products-grid .product-box .product-menu li a:hover .tooltiptext {
  display: block;
  width: 125px;
  background-color: #20D3C2;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 0.875rem;
  padding: 0.313rem 0;
  margin: 0 1rem;
  position: absolute;
  right: 95%;
  z-index: 1;
}
.products-grid .product-box .product-menu li a:hover .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #20D3C2;
}
.products-grid .product-box .product-body {
  position: absolute;
  bottom: 0;
  height: 13%;
  padding: 1rem;
  color: #FFFFFF;
  z-index: 1;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.products-grid .product-box .product-body h1 {
  font-size: 1.125rem;
  margin-bottom: 0.4rem;
}
.products-grid .product-box .product-body button {
  background-color: transparent;
  color: #FFFFFF;
  font-size: 0.875rem;
  padding-left: 0.8em;
  padding-right: 0.8em;
  border: 1px solid whitesmoke;
  margin: 0.5rem 0;
}
.products-grid .product-box .product-body p {
  text-decoration: line-through;
  margin-bottom: 0.5rem;
}
.products-grid .product-box .product-body .product-discount-price {
  color: #20D3C2;
  font-weight: 500;
  font-size: 1.5em;
  text-decoration: none;
  margin-bottom: 0;
}
.products-grid .product-box .product-body .product-discount-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-grid .product-box .product-body .product-discount-rating .product-rating {
  color: #20D3C2;
}
.products-grid .product-box .product-background {
  position: absolute;
  bottom: 0;
  height: 13%;
  width: 100%;
  background-color: #0E153D;
  opacity: 0.9;
  transition: height 0.3s ease-in-out;
}
.products-grid .box-2 {
  display: none;
}
.products-grid .box-3 {
  display: none;
}

/* General grid layout end */
/* in stock color */
.instock {
  color: #82D8C6;
}

/* out of stock color */
.outofstock {
  color: #FE6C6C;
}

/* Blue header start */
.top-header {
  background-color: #20D3C2;
  color: #FFFFFF;
  height: 3rem;
}
.top-header a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 1rem;
}
.top-header a:hover {
  color: #0E153D;
}
.top-header > .container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* Languange and Currency Settings */
  /* Top right links and socials start*/
  /* Top right links and socials end */
}
.top-header > .container .localization {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.top-header > .container .localization .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  min-width: 1rem !important;
}
.top-header > .container .localization .dropdown-theme {
  background-color: #20D3C2;
  color: #FFFFFF;
}
.top-header > .container .localization .dropdown-theme button {
  padding: 0;
  background-color: #20D3C2;
  color: #FFFFFF;
  border: none;
}
.top-header > .container .localization .dropdown-theme button:hover {
  color: #0E153D;
}
.top-header > .container .localization .dropdown-item {
  margin: 0;
}
.top-header > .container .localization .dropdown-item:hover {
  background-color: #20D3C2;
}
.top-header > .container .menu-links {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
}
.top-header > .container .menu-links .links {
  display: none;
}
.top-header > .container .menu-links .socials a {
  margin: 0.3rem;
}

/* Blue header end */
/* Main header start */
.main-header {
  background-color: #FFFFFF;
  color: #0E153D;
  /* Browse categories + special offer button start (Navbar) */
  /* Browse categories + special offer button end (Navbar)*/
}
.main-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  /* Shopping links start (My account, favorite, compare, cart) */
  /* Shopping links end */
}
.main-header > .container .logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex: 2;
  display: none;
}
.main-header > .container .search {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex: 4;
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}
.main-header > .container .search input[type=text] {
  height: 100%;
  border: 1px solid #E3E3E3;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%;
  text-indent: 1.536rem;
}
.main-header > .container .search button {
  color: #FFFFFF;
  background-color: #20D3C2;
  border: none;
  font-size: 1.125rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0.938rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header > .container .shopping-links {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main-header > .container .shopping-links a {
  text-decoration: none;
  color: #0E153D;
  margin: 0 0.4rem;
}
.main-header > .container .shopping-links a:hover {
  color: #20D3C2;
}
.main-header > .container .shopping-links a:first-child {
  margin: 0 0.5rem 0 0;
}
.main-header > .container .shopping-links a:last-child {
  margin: 0 0 0 0.4rem;
}
.main-header > .container .shopping-links a i {
  position: relative;
}
.main-header > .container .shopping-links a i div {
  position: absolute;
  bottom: 10px;
  left: 12px;
  width: 17px;
  height: 17px;
  background-color: #20D3C2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header > .container .shopping-links a i div span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  background-color: #20D3C2;
  color: #FFFFFF;
  z-index: 1;
}
.main-header nav {
  border-top: 1px solid #E3E3E3;
}
.main-header nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header nav > .container .categories {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex: 2;
}
.main-header nav > .container .categories .dropdown button {
  background-color: #20D3C2;
  color: #FFFFFF;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
}
.main-header nav > .container .categories .dropdown button:hover {
  background-color: #0E153D;
  color: #FFFFFF;
}
.main-header nav > .container .categories .dropdown button:focus {
  background-color: #0E153D;
  color: #FFFFFF;
}
.main-header nav > .container .categories .dropdown button span {
  display: flex;
  align-items: center;
}
.main-header nav > .container .categories .dropdown button span i {
  font-size: 1.2em;
}
.main-header nav > .container .categories .dropdown .dropdown-menu {
  padding: 5;
  width: 100%;
  background-color: #20D3C2;
  border-radius: 0;
  border: none;
}
.main-header nav > .container .categories .dropdown .dropdown-menu .dropdown-item {
  background-color: #20D3C2;
  color: #FFFFFF;
}
.main-header nav > .container .categories .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #0E153D;
}
.main-header nav > .container .special-offer {
  flex: 7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Main header end */
/* Shopping is more fun banner start */
.shopping-banner {
  background-color: #EEEEEE;
}
.shopping-banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopping-banner .container .shopping-text {
  width: 30%;
}
.shopping-banner .container .shopping-text .shopping-header {
  font-size: 3.75rem;
  font-family: "Play", sans-serif;
  padding-bottom: 0.938rem;
}
.shopping-banner .container .shopping-text .shopping-header .shopping-bold {
  font-weight: 700;
  color: #20D3C2;
}
.shopping-banner .container img {
  display: none;
}

/* Shopping is more fun banner end */
/* Shopping benefits content start */
.shopping-benefits .container {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  justify-content: space-around;
  padding: 6rem 0;
}
.shopping-benefits .container .benefits {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #EDFCFA;
  border-radius: 8px;
  padding: 1.3rem;
  display: flex;
  align-items: center;
  margin: 0.4rem 1.4rem;
  flex: 1;
}
.shopping-benefits .container .benefits:hover {
  background-color: #20D3C2;
  color: #FFFFFF;
}
.shopping-benefits .container .benefits:hover img {
  filter: brightness(0) invert(1);
}
.shopping-benefits .container .benefits:hover h1 {
  color: #FFFFFF;
}
.shopping-benefits .container .benefits img {
  margin-right: 1.5rem;
}
.shopping-benefits .container .benefits h1 {
  color: #20D3C2;
  font-size: 1rem;
}

/* Shopping benefits content end */
/* Category grid start */
.shop-by-category .container .grid {
  display: grid;
  padding-top: 1rem;
  gap: 0.75rem;
  grid-template-columns: repeat(5, minmax(100px, 249px));
  grid-template-rows: repeat(3, minmax(100px, 249px));
}
.shop-by-category .container .grid .category-box {
  position: relative;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.shop-by-category .container .grid .category-box:hover .category-box-title {
  height: 4rem;
}
.shop-by-category .container .grid .category-box .category-box-title {
  position: absolute;
  bottom: 0;
  border-radius: 0 8px 0 0;
  width: 50%;
  background-color: #0E153D;
  font-size: 1rem;
  height: 2.5rem;
  transition: height 0.3s ease-in-out;
}
.shop-by-category .container .grid .category-box .category-box-title h1 {
  color: #20D3C2;
  margin-bottom: 0.3125rem;
  padding: 0.7rem 0 0 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.shop-by-category .container .grid .category-box .category-box-title p {
  padding: 0 0 0 1rem;
  font-size: 0.875rem;
  color: #FFFFFF;
}
.shop-by-category .container .grid #category-box-2 {
  grid-column: span 2;
}
.shop-by-category .container .grid #category-box-3 {
  grid-column: span 2;
  grid-row: span 2;
}
.shop-by-category .container .grid #category-box-4 {
  grid-column: span 2;
  grid-row: span 2;
}
.shop-by-category .container .grid #category-box-6 {
  grid-column: span 2;
}

/* Category grid end */
/* New arrivals flex start */
.new-arrivals {
  padding-top: 4rem;
}

/* New arrivals flex end */
/* Discount content start */
.discount-banner {
  background-color: #CCCCCC;
}
.discount-banner .container {
  height: 26.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discount-banner .container .discount {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 40%;
  background-color: #20D3C2;
  color: #FFFFFF;
}
.discount-banner .container .discount h1 {
  font-family: "Play", sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
}
.discount-banner .container .discount h1 span {
  font-size: 2.25rem;
}
.discount-banner .container .discount p {
  font-size: 1rem;
}
.discount-banner .container .discount button {
  color: #FFFFFF;
  background-color: #0E153D;
  border-radius: 25px;
  border: none;
  font-weight: 500;
  font-size: 1.125rem;
  padding: 0.625rem 1.563rem;
  margin: 0.625rem 0;
}
.discount-banner .container .discount button:hover {
  background-color: #FFFFFF;
  color: #20D3C2;
}
.discount-banner .container .discount button:focus {
  background-color: #FFFFFF;
  color: #20D3C2;
}
.discount-banner .container .learn-more {
  width: 35%;
  color: #FFFFFF;
  font-size: 0.875rem;
}

/* Discount content end */
/* Featured products flex start */
.feature .container {
  padding: 6rem 0 1rem 0rem;
}

/* Featured products flex end */
/* Flash sale banner start */
.sale {
  background-color: #0E153D;
}
.sale .container {
  padding: 0;
  height: 27.1875rem;
  display: flex;
  justify-content: space-between;
  /* Countdown timer start */
  /* Countdown timer end */
}
.sale .container .flash-sale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 37%;
  background-color: #20D3C2;
  color: #FFFFFF;
}
.sale .container .flash-sale h1 {
  margin: 0;
  font-size: 3.75rem;
  font-weight: 700;
  font-family: "Play", sans-serif;
}
.sale .container .flash-sale h2 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.sale .container .countdown {
  width: 60%;
  color: #20D3C2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sale .container .countdown .date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sale .container .countdown .date .circle {
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 2px dotted #20D3C2;
  background-color: white;
  border-radius: 50%;
}
.sale .container .countdown .date h2 {
  font-size: 2.25rem;
  font-family: "Play", sans-serif;
  font-weight: 700;
}
.sale .container .countdown .date p {
  color: #0E153D;
}
.sale .container button {
  border-radius: 40px;
  padding: 0.938rem 1.875rem;
  margin: 0.938rem 0px;
}

/* Flash sale banner end */
/* Top Sellers grid start */
.top-sell .container {
  padding: 6rem 0;
}
.top-sell .container .grid-top-sellers {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  grid-template-columns: repeat(4, minmax(100px, 400px));
  grid-template-rows: repeat(4, minmax(100px, 150px));
}
.top-sell .container .grid-top-sellers .product-box {
  position: relative;
  background-color: #EEEEEE;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.top-sell .container .grid-top-sellers .product-box img {
  height: 100%;
  width: 100%;
}
.top-sell .container .grid-top-sellers .product-box:hover .product-menu {
  top: 5%;
}
.top-sell .container .grid-top-sellers .product-box:hover .product-body {
  height: 25%;
}
.top-sell .container .grid-top-sellers .product-box:hover .product-background {
  height: 100%;
}
.top-sell .container .grid-top-sellers .product-box .product-menu {
  position: absolute;
  z-index: 2;
  top: 100%;
  right: 5%;
  list-style: none;
  margin: auto;
  padding: 0.6rem;
  font-size: 1.25rem;
  border: 1px solid black;
  border-radius: 25px;
  background: #FFFFFF;
  transition: top 0.3s ease-in-out;
}
.top-sell .container .grid-top-sellers .product-box .product-menu li {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.top-sell .container .grid-top-sellers .product-box .product-menu li a {
  color: #AAAAAA;
  display: inline-block;
  position: relative;
}
.top-sell .container .grid-top-sellers .product-box .product-menu li a .tooltiptext {
  display: none;
}
.top-sell .container .grid-top-sellers .product-box .product-menu li a:hover {
  color: #20D3C2;
}
.top-sell .container .grid-top-sellers .product-box .product-menu li a:hover .tooltiptext {
  display: block;
  width: 125px;
  background-color: #20D3C2;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 0.875rem;
  padding: 0.313rem 0;
  margin: 0 1rem;
  position: absolute;
  right: 95%;
  z-index: 1;
}
.top-sell .container .grid-top-sellers .product-box .product-menu li a:hover .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #20D3C2;
}
.top-sell .container .grid-top-sellers .product-box .product-body {
  position: absolute;
  bottom: 0;
  height: 2rem;
  padding-left: 1.5rem;
  color: #FFFFFF;
  z-index: 1;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.top-sell .container .grid-top-sellers .product-box .product-body h1 {
  font-size: 1.125rem;
  margin-bottom: 0.4rem;
}
.top-sell .container .grid-top-sellers .product-box .product-body button {
  background-color: transparent;
  color: #FFFFFF;
  font-size: 0.875rem;
  padding-left: 0.8em;
  padding-right: 0.8em;
  border: 1px solid whitesmoke;
  margin: 0.5rem 0;
}
.top-sell .container .grid-top-sellers .product-box .product-body p {
  text-decoration: line-through;
  margin-bottom: 0.5rem;
}
.top-sell .container .grid-top-sellers .product-box .product-body .product-discount-price {
  color: #20D3C2;
  font-weight: 500;
  font-size: 1.5em;
  text-decoration: none;
  margin-bottom: 0;
}
.top-sell .container .grid-top-sellers .product-box .product-body .product-discount-rating {
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-sell .container .grid-top-sellers .product-box .product-body .product-discount-rating .product-rating {
  color: #20D3C2;
}
.top-sell .container .grid-top-sellers .product-box .product-background {
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100%;
  background-color: #0E153D;
  opacity: 0.9;
  transition: height 0.3s ease-in-out;
}
.top-sell .container .grid-top-sellers .small-grid:hover .product-body {
  height: 50%;
}
.top-sell .container .grid-top-sellers .box-1 {
  display: none;
  grid-column: span 2;
  grid-row: span 4;
}
.top-sell .container .grid-top-sellers .box-2 {
  display: none;
  grid-column: span 2;
  grid-row: span 2;
}
.top-sell .container .grid-top-sellers .box-3 {
  grid-column: span 2;
  grid-row: span 2;
}

/* Top Sellers grid end */
/* Subscribe banner start */
.subscribe {
  background-color: #F6F6F6;
  height: 19rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.subscribe .container .subscribe-text {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.subscribe .container .subscribe-text h1 {
  color: #0E153D;
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
}
.subscribe .container .subscribe-text h1 span {
  color: #20D3C2;
}
.subscribe .container .subscribe-text .email {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #E3E3E3;
  height: 3rem;
  background-color: #FFFFFF;
}
.subscribe .container .subscribe-text .email input[type=text] {
  border-radius: 25px;
  height: 100%;
  border: none;
  font-size: 0.875rem;
  width: 100%;
  text-indent: 1.563rem;
}
.subscribe .container .subscribe-text .email button {
  border-radius: 25px;
  color: #FFFFFF;
  background-color: #20D3C2;
  margin: 0 0.3rem;
  padding: 0.5rem 1.2rem;
  border: none;
}
.subscribe .container .subscribe-text .email button:hover {
  background-color: #0E153D;
}
.subscribe .container .gray-box {
  width: 35%;
  height: 19rem;
  background-color: #CCCCCC;
}

/* Subscribe banner end */
/* Account Page - greybar start */
.site-bar {
  background-color: #50546E;
  color: #20D3C2;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-bar .container h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
.site-bar .container h2 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1rem;
}
.site-bar .container h2 a {
  text-decoration: none;
  color: #20D3C2;
}
.site-bar .container h2 span {
  color: #FFFFFF;
}

/* Account Page - greybar end */
/* Login + Register form start */
.login-register {
  padding: 6rem 0;
}
.login-register .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 1.5rem;
}
.login-register .container .login {
  background-color: #F6F6F6;
  border-radius: 8px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.5rem;
}
.login-register .container .login h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
.login-register .container .login h2 {
  padding-top: 1rem;
  font-size: 1rem;
}
.login-register .container .login h2 span {
  color: #20D3C2;
}
.login-register .container .login > input {
  height: 2.5rem;
  width: 100%;
  border: none;
  text-indent: 1rem;
  border-radius: 4px;
}
.login-register .container .login > label {
  color: #CC0033;
  font-size: 0.875rem;
}
.login-register .container .login button {
  height: 3rem;
  margin-top: 1.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  width: 100%;
}
.login-register .container .login button:focus {
  background-color: #0E153D;
  color: #FFFFFF;
}
.login-register .container .login .remember-forgot {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-register .container .login .remember-forgot label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login-register .container .login .remember-forgot label input {
  transform: scale(1.2);
  margin-right: 0.5rem;
}
.login-register .container .login .remember-forgot a {
  color: #20D3C2;
  text-decoration: none;
}
.login-register .container .login .login-alternative {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.login-register .container .login .login-alternative h3 {
  font-size: 1rem;
  font-weight: 500;
}
.login-register .container .login .facebook-google {
  display: flex;
}
.login-register .container .login .facebook-google .socials-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
  padding: 0.7rem;
}
.login-register .container .login .facebook-google .socials-btn p {
  margin: 0;
}
.login-register .container .login .facebook-google .socials-btn:hover {
  background-color: #0E153D;
}
.login-register .container .login .facebook-google .facebook-btn {
  margin-right: 0.3rem;
  background-color: #3B5998;
}
.login-register .container .login .facebook-google .google-btn {
  background-color: #4285F4;
  margin-left: 0.3rem;
}
.login-register .container .register {
  background-color: #F6F6F6;
  border-radius: 8px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.5rem;
}
.login-register .container .register .register-p {
  color: #777777;
  font-size: 0.875rem;
  padding: 1rem 0 0 0;
}
.login-register .container .register h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
.login-register .container .register h2 {
  padding-top: 1rem;
  font-size: 1rem;
}
.login-register .container .register h2 span {
  color: #20D3C2;
}
.login-register .container .register > input {
  border-radius: 4px;
  height: 2.5rem;
  width: 100%;
  border: none;
  text-indent: 1rem;
}
.login-register .container .register > label {
  color: #CC0033;
  font-size: 0.875rem;
}
.login-register .container .register .register-data-p span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #20D3C2;
}
.login-register .container .register button {
  height: 3rem;
  margin: 1rem 0;
  font-size: 1.125rem;
  font-weight: 500;
  width: 100%;
}
.login-register .container .register button:focus {
  background-color: #0E153D;
  color: #FFFFFF;
}

/* Login + Register form end */
/* Footer start */
footer {
  background-color: #080C24;
  color: #FFFFFF;
}
footer .container .copyright {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

/* Footer end */
/* Screens Greater than mobile start */
@media (min-width: 768px) {
  .products-grid {
    justify-content: space-between;
  }
  .products-grid .product-box {
    width: 22rem;
  }
  .products-grid .box-2 {
    display: block;
  }
  .products-grid .box-3 {
    display: none;
  }
  .top-header .container {
    justify-content: space-between;
  }
  .top-header .container .menu-links {
    display: block;
  }
  .main-header .container .search {
    display: flex;
  }
  .discount-banner .container .discount {
    width: 30%;
  }
  .sale .container .flash-sale {
    width: 27%;
  }
  .sale .container .countdown .date {
    width: 80%;
  }
  .sale .container .countdown .date .circle {
    width: 90px;
    height: 90px;
  }
  .top-sell .container .grid-top-sellers .box-1 {
    display: none;
  }
  .top-sell .container .grid-top-sellers .box-2 {
    display: block;
  }
  .subscribe .container .subscribe-text {
    width: 50%;
  }
  .subscribe .container .gray-box {
    width: 45%;
  }
}
/* Screens Greater than mobile end */
/* Screens Greater than tablet start */
@media (min-width: 992px) {
  .products-grid .product-box {
    width: 19rem;
  }
  .products-grid .box-2 {
    display: block;
  }
  .products-grid .box-3 {
    display: block;
  }
  .top-header .container .menu-links .links {
    display: inline;
  }
  .main-header .container .logo {
    display: inline;
  }
  .main-header .container .shopping-links a:first-child {
    margin: 0 2rem 0 0;
  }
  .shopping-banner .container img {
    display: inline;
  }
  .shopping-benefits .container {
    max-width: 1650px;
    flex-direction: row;
  }
  .shopping-benefits .container .benefits {
    margin: 0 1.4rem;
  }
  .shop-by-category .container .grid {
    grid-template-columns: repeat(5, minmax(100px, 249px));
    grid-template-rows: repeat(3, minmax(100px, 249px));
  }
  .discount-banner .container .discount {
    width: 20%;
  }
  .sale .container .flash-sale {
    width: 20%;
  }
  .sale .container .countdown .date {
    margin: 0;
    width: 70%;
  }
  .sale .container .countdown .date .circle {
    width: 119px;
    height: 119px;
  }
  .top-sell .container .grid-top-sellers {
    display: grid;
  }
  .top-sell .container .grid-top-sellers .box-1 {
    display: block;
  }
  .top-sell .container .grid-top-sellers .box-2 {
    display: block;
  }
  .subscribe .container .subscribe-text {
    width: 32%;
  }
  .subscribe .container .gray-box {
    width: 50%;
  }
  .login-register .container {
    flex-direction: row;
  }
}
/* Screens Greater than tablet end */
/* Fix for 3-products flexbox when shrinking screen */
@media (min-width: 1200px) {
  .products-grid .product-box {
    width: 23rem;
  }
}
/* Fix for 3-products flexbox when shrinking screen */
@media (min-width: 1400px) {
  .products-grid .product-box {
    width: 26rem;
  }
}/*# sourceMappingURL=style.css.map */