$color-gray-0: #AAAAAA;
$color-gray-1: #CCCCCC;
$color-gray-2: #E3E3E3;
$color-gray-3: #EEEEEE;
$color-gray-4: #F6F6F6;
$color-white: #FFFFFF;
$color-theme: #20D3C2;
$color-theme-transparent: #20D3C214;
$color-theme-light: #EDFCFA;
$color-theme-dark: #0E153D;
$color-instock: #82D8C6;
$color-outofstock: #FE6C6C;

$font-play: 'Play', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$border-radius-small: 8px;
$border-radius-medium: 25px;
$border-radius-rounded: 50%;

/* General */
html,
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: $font-roboto;
    font-weight: $font-weight-regular;
    color: $color-theme-dark;
}
.container {
    padding: 0;
}

.btn-theme {
    background-color: $color-theme;
    color: $color-white;
    border-radius: $border-radius-medium;
    font-weight: $font-weight-medium;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    &:hover {
        background-color: $color-theme-dark;
        color: $color-white;
    }
}

.white-btn {
    color: $color-theme;
    background-color: $color-white;
    border-radius: $border-radius-medium;
    border: none;
    font-weight: $font-weight-medium;
    font-size: 18px;
    padding: 10px 25px;
    margin: 15px 0px;

    &:hover {
        background-color: $color-theme;
        color: $color-white;
        border: none;
    }
}

.text-section {
    color: $color-theme-dark;
    text-align: center;

    h1 {
        font-family: Play;
        font-size: 36px;
        font-weight: $font-weight-bold;

        span {
            color: $color-theme;
        }
    }

    p {
        padding: 1rem 0;
        font-size: 1rem;
        font-weight: $font-weight-regular;
    }
}

.grid-new-arrivals {
    padding: 1rem 0 8rem 0rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, minmax(100px, 400px));

    .category-box {
        display: flex;
        justify-content: center;
        position: relative;
        background-color: $color-gray-3;
        border-radius: $border-radius-small;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .new-box-title {
            width: 100%;
            color: $color-white;
            font-weight: $font-weight-regular;
            font-size: 18px;
            padding: 0.8rem 1.5rem;
        }
    }
}

.grid-title {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $color-theme-dark;
    font-size: 18px;
}

/* Top menu */
.top-header {
    background-color: $color-theme;
    color: $color-white;
    height: 3rem;

    a {
        color: $color-white;
        text-decoration: none;
        margin: 1rem;

        &:hover {
            color: $color-theme-dark;
        }
    }

    /* Top blue menu */
    >.container {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        /* Languange and Currency Settings */
        .localization {
            display: flex;

            .dropdown {
                &:hover {
                    .dropdown-menu {
                        display: block;
                        margin-top: 0;
                        min-width: 1rem !important;
                    }
                }
            }

            .dropdown-theme {
                background-color: $color-theme;
                color: $color-white;

                button {
                    padding: 0;
                    background-color: $color-theme;
                    color: $color-white;
                    border: none;

                    &:hover {
                        color: $color-theme-dark;
                    }
                }
            }

            .dropdown-item {
                margin: 0;

                &:hover {
                    background-color: $color-theme;
                }
            }
        }

        /* Top right links and socials */
        .menu-links {
            display: none;

            .links {
                display: none;
            }

            .socials {
                a {
                    margin: 0.3rem;
                }
            }
        }
    }
}

/* Main (Middle) Header */
.main-header {
    background-color: $color-white;
    color: $color-theme-dark;

    >.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;

        .logo {
            flex: 2;
            display: none;
        }

        .search {
            flex: 4;
            display: none;
            justify-content: space-between;
            align-items: center;
            height: 3rem;

            input[type=text] {
                height: 100%;
                border: 1px solid $color-gray-2;
                border-top-left-radius: $border-radius-medium;
                border-bottom-left-radius: $border-radius-medium;
                font-size: 16px;
                width: 100%;
                text-indent: 25px;

                &:focus {
                    outline: none;
                }
            }

            button {
                color: $color-white;
                background-color: $color-theme;
                border: none;
                font-size: 18px;
                border-top-right-radius: $border-radius-medium;
                border-bottom-right-radius: $border-radius-medium;
                padding: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .shopping-links {
            flex: 3;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a {
                text-decoration: none;
                color: $color-theme-dark;
                margin: 0 0.4rem;

                &:hover {
                    color: $color-theme;
                }

                &:first-child {
                    margin: 0 0.5rem 0 0;
                }

                &:last-child {
                    margin: 0 0 0 0.4rem;
                }
            }

            i {
                font-size: 16px;
            }
        }
    }

    nav {
        border-top: 1px solid $color-gray-2;

        >.container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .categories {
                flex: 2;

                .dropdown {
                    button {
                        background-color: $color-theme;
                        color: $color-white;
                        border: none;
                        font-size: 1rem;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0.7rem 1rem;

                        &:hover {
                            background-color: $color-theme-dark;
                            color: $color-white;
                        }

                        span {
                            display: flex;
                            align-items: center;

                            i {
                                font-size: 1.2em;
                            }
                        }
                    }

                    .dropdown-menu {
                        padding: 5;
                        width: 100%;
                        background-color: $color-theme;
                        border-radius: 0;
                        border: none;

                        .dropdown-item {
                            background-color: $color-theme;
                            color: $color-white;

                            &:hover {
                                background-color: $color-theme-dark;
                            }
                        }
                    }
                }
            }

            .special-offer {
                flex: 7;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
}

.shopping-banner {
    background-color: $color-gray-3;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .shopping-text {
            width: 30%;

            .shopping-header {
                font-size: 60px;
                font-family: $font-play;
                font-weight: $font-weight-regular;
                padding-bottom: 15px;

                .shopping-bold {
                    font-weight: $font-weight-bold;
                    color: $color-theme;
                }
            }
        }
    }
}

.shopping-benefits {
    .container {
        display: flex;
        max-width: 1650px;
        justify-content: space-evenly;
        padding: 6rem 0;

        .benefits {
            background-color: $color-theme-light;
            border-radius: $border-radius-small;
            padding: 1.3rem;
            display: flex;
            align-items: center;
            margin: 0 1.4rem;
            flex: 1;

            &:hover {
                background-color: $color-theme;
                color: $color-white;

                img {
                    filter: brightness(0) invert(1);
                }

                h1 {
                    color: $color-white;
                }
            }

            img {
                margin-right: 1.5rem;
            }

            h1 {
                color: $color-theme;
                font-size: 1rem;
                font-weight: $font-weight-medium;
            }
        }
    }
}

.shop-by-category {
    .container {
        .grid {
            display: grid;
            padding: 1rem 0 6rem 0;
            gap: 0.7rem;
            grid-template-columns: repeat(5, minmax(100px, 249px));
            grid-template-rows: repeat(3, minmax(100px, 249px));

            .category-box {
                position: relative;
                border-radius: $border-radius-small;
                height: 100%;
                width: 100%;
                overflow: hidden;

                .category-box-title {
                    width: 50%;
                    border-radius: 0 $border-radius-small 0 0;
                    color: $color-theme;
                    font-weight: $font-weight-medium;
                    font-size: 1rem;
                    padding: 0.5rem 1rem;
                }
            }

            #category-box-2 {
                grid-column: span 2;
            }

            #category-box-3 {
                grid-column: span 2;
                grid-row: span 2;
            }

            #category-box-4 {
                grid-column: span 2;
                grid-row: span 2;
            }

            #category-box-6 {
                grid-column: span 2;
            }
        }
    }
}

.new-arrivals {
    .container {
        .grid-new-arrivals {
            padding: 1rem 0 8rem 0rem;
        }
    }
}

.discount {
    background-color: $color-gray-1;

    .container {
        height: 26.125rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .discount {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 20%;
            background-color: $color-theme;
            color: $color-white;

            h1 {
                font-family: $font-play;
                font-size: 60px;
                font-weight: $font-weight-bold;

                span {
                    font-size: 36px;
                }
            }

            p {
                font-size: 1rem;
            }

            button {
                color: $color-white;
                background-color: $color-theme-dark;
                border-radius: $border-radius-medium;
                border: none;
                font-weight: $font-weight-medium;
                font-size: 18px;
                padding: 10px 25px;
                margin: 10px 0;

                &:hover {
                    background-color: $color-white;
                    color: $color-theme;
                    border: none;
                }
            }
        }

        .learn-more {
            width: 35%;
            color: $color-white;
            font-size: 14px;
        }
    }
}

.feature {
    .container {
        padding: 6rem 0 1rem 0rem;
    }
}

.sale {
    background-color: $color-theme-dark;

    .container {
        padding: 0;
        height: 27.1875rem;
        display: flex;
        justify-content: space-between;

        .flash-sale {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 60%;
            width: 20%;
            background-color: $color-theme;
            color: $color-white;

            h1 {
                margin: 0;
                font-size: 60px;
                font-weight: $font-weight-bold;
                font-family: $font-play;
            }

            h2 {
                margin: 0.5rem 0;
                font-size: 24px;
                font-weight: $font-weight-medium;
            }
        }

        .countdown {
            width: 47%;
            color: $color-theme;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .date {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .circle {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    width: 119px;
                    height: 119px;
                    outline: 2px dashed $color-theme;
                    background-color: white;
                    border-radius: 50%;
                }

                h2 {
                    font-size: 36px;
                    font-family: $font-play;
                    font-weight: $font-weight-bold;
                }

                p {
                    color: $color-theme-dark;
                }
            }
        }

        button {
            border-radius: 40px;
            padding: 15px 30px;
            margin: 15px 0px;
        }
    }
}

.top-sell {
    .container {
        padding: 6rem 0 1rem 0rem;

        .grid-top-sellers {
            padding: 1rem 0;
            display: grid;
            gap: 0.7rem;
            grid-template-columns: repeat(4, minmax(100px, 400px));
            grid-template-rows: repeat(4, minmax(100px, 150px));

            .category-box {
                background-color: $color-gray-3;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                border-radius: $border-radius-small;
                height: 100%;
                width: 100%;
                overflow: hidden;

                .top-box-title {
                    width: 100%;
                    color: $color-white;
                    font-weight: $font-weight-regular;
                    font-size: 18px;
                    padding: 0.8rem 1.5rem;
                }
            }

            #category-box-1 {
                grid-column: span 2;
                grid-row: span 4;
            }

            #category-box-2 {
                grid-column: span 2;
                grid-row: span 2;
            }

            #category-box-3 {
                grid-column: span 2;
                grid-row: span 2;
            }
        }
    }
}

.subscribe {
    background-color: $color-gray-4;
    height: 19rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        .subscribe-text {
            width: 32%;
            display: flex;
            flex-direction: column;

            h1 {
                color: $color-theme-dark;
                font-family: $font-play;
                font-weight: $font-weight-bold;
                font-size: 36px;

                span {
                    color: $color-theme;
                }
            }

            .email {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: $border-radius-medium;
                overflow: hidden;
                border: 1px solid $color-gray-2;
                height: 3rem;
                background-color: $color-white;
                input[type=text] {
                    height: 100%;
                    border: none;
                    font-size: 14px;
                    width: 100%;
                    text-indent: 25px;
                    &:focus {
                        outline: none;
                    }
                }
                button {
                    border-radius: $border-radius-medium;
                    color: $color-white;
                    background-color: $color-theme;
                    margin: 0 .3rem;
                    padding: .5rem 1.2rem;
                    border: none;
                    &:hover {
                        background-color: $color-theme-dark;
                    }
                }
            }
        }

        .gray-box {
            width: 50%;
            height: 19rem;
            background-color: $color-gray-1;
        }
    }
}

footer {
    background-color: #080C24;
    color: $color-white;

    .container {
        .copyright {
            height: 3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
        }
    }
}

/* Screens Greater than mobile */
@media (min-width: 768px) {
    .top-header {
        .container {
            justify-content: space-between;

            .menu-links {
                display: block;
            }
        }
    }

    .main-header {
        .container {
            .search {
                display: flex;
            }
        }
    }
}

/* Screens Greater than tablet */
@media (min-width: 992px) {
    .top-header {
        .container {
            .menu-links {
                .links {
                    display: inline;
                }
            }
        }
    }

    .main-header {
        .container {
            .logo {
                Display: inline;
            }

            .shopping-links {
                a {
                    &:first-child {
                        margin: 0 2rem 0 0;
                    }
                }
            }
        }
    }
}