//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

$color-gray-0: #AAAAAA;
$color-gray-1: #CCCCCC;
$color-gray-2: #E3E3E3;
$color-gray-3: #EEEEEE;
$color-gray-4: #F6F6F6;
$color-white: #FFFFFF;
$color-theme: #20D3C2;
$color-theme-light: #EDFCFA;
$color-theme-dark: #0E153D;
$color-theme-dark-light: #50546E;
$color-instock: #82D8C6;
$color-outofstock: #FE6C6C;

$font-play: 'Play', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$border-radius-small: 8px;
$border-radius-medium: 25px;
$border-radius-rounded: 50%;

/* General */
html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: $font-roboto;
    font-weight: $font-weight-regular;
    color: $color-theme-dark;
}

.container {
    padding: 0;
}

.btn-theme {
    background-color: $color-theme;
    color: $color-white;
    border-radius: $border-radius-medium;
    font-weight: $font-weight-medium;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    &:hover {
        background-color: $color-theme-dark;
        color: $color-white;
    }
}

.white-btn {
    color: $color-theme;
    background-color: $color-white;
    border-radius: $border-radius-medium;
    border: none;
    font-weight: $font-weight-medium;
    font-size: 1.125rem;
    padding: 0.625rem 1.563rem;
    margin: 0.938rem 0;

    &:hover {
        background-color: $color-theme;
        color: $color-white;
        border: none;
    }
}

.text-section {
    color: $color-theme-dark;
    text-align: center;

    h1 {
        font-family: $font-play;
        font-size: 2.25rem;
        font-weight: $font-weight-bold;

        span {
            color: $color-theme;
        }
    }

    p {
        padding: 1rem 0;
    }
}

.products-grid {
    padding: 1rem 0 8rem 0;
    display: flex;
    justify-content: center;

    .product-box {
        position: relative;
        background-color: $color-gray-3;
        border-radius: $border-radius-small;
        height: 100%;
        width: 26rem;
        overflow: hidden;

        img {
            height: 400px;
            width: 100%;
        }

        &:hover {
            .product-menu {
                top: 5%;
            }

            .product-body {
                height: 42%;
            }

            .product-background {
                height: 100%;
            }
        }

        .product-menu {
            position: absolute;
            z-index: 1;
            top: 100%;
            right: 10%;
            list-style: none;
            margin: auto;
            padding: 0.6rem;
            font-size: 1.25rem;
            border: 1px solid black;
            border-radius: $border-radius-medium;
            background: $color-white;
            transition: top 0.3s ease-in-out;

            li {
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;

                a {
                    color: $color-gray-0;

                    &:hover {
                        color: $color-theme;
                    }
                }
            }
        }

        .product-body {
            position: absolute;
            bottom: 0;
            height: 13%;
            padding: 1rem;
            color: $color-white;
            z-index: 1;
            transition: 0.3s ease-in-out;
            width: 100%;

            h1 {
                font-size: 1.125rem;
                margin-bottom: 0.4rem;
            }

            button {
                background-color: transparent;
                color: $color-white;
                font-size: 0.875rem;
                padding-left: 0.8em;
                padding-right: 0.8em;
                border: 1px solid whitesmoke;
                margin: .5rem 0;
            }

            p {
                text-decoration: line-through;
                margin-bottom: 0.5rem;
            }

            .product-discount-price {
                color: $color-theme;
                font-weight: $font-weight-medium;
                font-size: 1.5em;
                text-decoration: none;
                margin-bottom: 0;
            }

            .product-discount-rating {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .product-rating {
                    color: $color-theme;
                }
            }
        }

        .product-background {
            position: absolute;
            bottom: 0;
            height: 13%;
            width: 100%;
            background-color: $color-theme-dark;
            opacity: 0.90;
            transition: height 0.3s ease-in-out;
        }
    }

    .box-2 {
        display: none;
    }

    .box-3 {
        display: none;
    }
}

.instock {
    color: $color-instock;
}

.outofstock {
    color: $color-outofstock;
}

/* Top menu */
.top-header {
    background-color: $color-theme;
    color: $color-white;
    height: 3rem;

    a {
        color: $color-white;
        text-decoration: none;
        margin: 1rem;

        &:hover {
            color: $color-theme-dark;
        }
    }

    /* Top blue menu */
    >.container {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        /* Languange and Currency Settings */
        .localization {
            display: flex;
            user-select: none;

            .dropdown {
                &:hover {
                    .dropdown-menu {
                        display: block;
                        margin-top: 0;
                        min-width: 1rem !important;
                    }
                }
            }

            .dropdown-theme {
                background-color: $color-theme;
                color: $color-white;

                button {
                    padding: 0;
                    background-color: $color-theme;
                    color: $color-white;
                    border: none;

                    &:hover {
                        color: $color-theme-dark;
                    }
                }
            }

            .dropdown-item {
                margin: 0;

                &:hover {
                    background-color: $color-theme;
                }
            }
        }

        /* Top right links and socials */
        .menu-links {

            user-select: none;
            display: none;

            .links {
                display: none;
            }

            .socials {
                a {
                    margin: 0.3rem;
                }
            }
        }
    }
}

/* Main (Middle) Header */
.main-header {
    background-color: $color-white;
    color: $color-theme-dark;

    >.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;

        .logo {
            user-select: none;
            flex: 2;
            display: none;
        }

        .search {
            user-select: none;
            flex: 4;
            display: none;
            justify-content: space-between;
            align-items: center;
            height: 3rem;

            input[type=text] {
                height: 100%;
                border: 1px solid $color-gray-2;
                border-top-left-radius: $border-radius-medium;
                border-bottom-left-radius: $border-radius-medium;
                width: 100%;
                text-indent: 1.536rem;
            }

            button {
                color: $color-white;
                background-color: $color-theme;
                border: none;
                font-size: 1.125rem;
                border-top-right-radius: $border-radius-medium;
                border-bottom-right-radius: $border-radius-medium;
                padding: 0.938rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .shopping-links {
            user-select: none;
            flex: 3;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a {
                text-decoration: none;
                color: $color-theme-dark;
                margin: 0 0.4rem;

                &:hover {
                    color: $color-theme;
                }

                &:first-child {
                    margin: 0 0.5rem 0 0;
                }

                &:last-child {
                    margin: 0 0 0 0.4rem;
                }
            }
        }
    }

    nav {
        border-top: 1px solid $color-gray-2;

        >.container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .categories {
                user-select: none;
                flex: 2;

                .dropdown {
                    button {
                        background-color: $color-theme;
                        color: $color-white;
                        border: none;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0.7rem 1rem;

                        &:hover {
                            background-color: $color-theme-dark;
                            color: $color-white;
                        }

                        span {
                            display: flex;
                            align-items: center;

                            i {
                                font-size: 1.2em;
                            }
                        }
                    }

                    .dropdown-menu {
                        padding: 5;
                        width: 100%;
                        background-color: $color-theme;
                        border-radius: 0;
                        border: none;

                        .dropdown-item {
                            background-color: $color-theme;
                            color: $color-white;

                            &:hover {
                                background-color: $color-theme-dark;
                            }
                        }
                    }
                }
            }

            .special-offer {
                flex: 7;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
}

.shopping-banner {
    background-color: $color-gray-3;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .shopping-text {
            width: 30%;

            .shopping-header {
                font-size: 3.75rem;
                font-family: $font-play;
                padding-bottom: 0.938rem;

                .shopping-bold {
                    font-weight: $font-weight-bold;
                    color: $color-theme;
                }
            }
        }

        img {
            display: none;
        }
    }
}

.shopping-benefits {
    .container {
        display: flex;
        max-width: 500px;
        flex-direction: column;
        justify-content: space-around;
        padding: 6rem 0;

        .benefits {
            background-color: $color-theme-light;
            border-radius: $border-radius-small;
            padding: 1.3rem;
            display: flex;
            align-items: center;
            margin: 0.4rem 1.4rem;
            flex: 1;

            &:hover {
                background-color: $color-theme;
                color: $color-white;

                img {
                    filter: brightness(0) invert(1);
                }

                h1 {
                    color: $color-white;
                }
            }

            img {
                margin-right: 1.5rem;
            }

            h1 {
                color: $color-theme;
                font-size: 1rem;
            }
        }
    }
}

.shop-by-category {
    .container {
        .grid {
            display: grid;
            padding-top: 1rem;
            gap: 0.75rem;
            grid-template-columns: repeat(5, minmax(100px, 249px));
            grid-template-rows: repeat(3, minmax(100px, 249px));

            .category-box {
                position: relative;
                border-radius: $border-radius-small;
                height: 100%;
                width: 100%;
                overflow: hidden;

                &:hover {
                    .category-box-title {
                        height: 4rem;
                    }
                }

                .category-box-title {
                    position: absolute;
                    bottom: 0;
                    border-radius: 0 $border-radius-small 0 0;
                    width: 50%;
                    background-color: $color-theme-dark;
                    font-size: 1rem;
                    height: 2.5rem;
                    transition: height 0.3s ease-in-out;

                    h1 {
                        color: $color-theme;
                        margin-bottom: 0.3125rem;
                        padding: .7rem 0 0 1rem;
                        font-size: 1rem;
                        font-weight: 500;
                    }

                    p {
                        padding: 0 0 0 1rem;
                        font-size: 0.875rem;
                        color: $color-white;
                    }
                }
            }

            #category-box-2 {
                grid-column: span 2;
            }

            #category-box-3 {
                grid-column: span 2;
                grid-row: span 2;
            }

            #category-box-4 {
                grid-column: span 2;
                grid-row: span 2;
            }

            #category-box-6 {
                grid-column: span 2;
            }
        }
    }
}

.new-arrivals {
    padding-top: 4rem;
}

.discount-banner {
    background-color: $color-gray-1;

    .container {
        height: 26.125rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .discount {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 40%;
            background-color: $color-theme;
            color: $color-white;

            h1 {
                font-family: $font-play;
                font-size: 3.75;
                font-weight: $font-weight-bold;

                span {
                    font-size: 2.25rem;
                }
            }

            p {
                font-size: 1rem;
            }

            button {
                color: $color-white;
                background-color: $color-theme-dark;
                border-radius: $border-radius-medium;
                border: none;
                font-weight: $font-weight-medium;
                font-size: 1.125rem;
                padding: 0.625rem 1.563rem;
                margin: 0.625rem 0;

                &:hover {
                    background-color: $color-white;
                    color: $color-theme;
                    border: none;
                }
            }
        }

        .learn-more {
            width: 35%;
            color: $color-white;
            font-size: 0.875rem;
        }
    }
}

.feature {
    .container {
        padding: 6rem 0 1rem 0rem;
    }
}

.sale {
    background-color: $color-theme-dark;

    .container {
        padding: 0;
        height: 27.1875rem;
        display: flex;
        justify-content: space-between;

        .flash-sale {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 60%;
            width: 37%;
            background-color: $color-theme;
            color: $color-white;

            h1 {
                margin: 0;
                font-size: 3.75;
                font-weight: $font-weight-bold;
                font-family: $font-play;
            }

            h2 {
                margin: 0.5rem 0;
                font-size: 1.5rem;
                font-weight: $font-weight-medium;
            }
        }

        .countdown {
            width: 60%;
            color: $color-theme;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .date {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .circle {
                    margin: .2rem;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    width: 80px;
                    height: 80px;
                    outline: 2px dashed $color-theme;
                    background-color: white;
                    border-radius: 50%;
                }

                h2 {
                    font-size: 2.25rem;
                    font-family: $font-play;
                    font-weight: $font-weight-bold;
                }

                p {
                    color: $color-theme-dark;
                }
            }
        }

        button {
            border-radius: 40px;
            padding: 0.938rem 1.875rem;
            margin: 0.938rem 0px;
        }
    }
}

.top-sell {
    .container {
        padding: 6rem 0 1rem 0rem;

        .grid-top-sellers {
            padding: 1rem 0;
            display: flex;
            justify-content: center;
            gap: 0.7rem;
            grid-template-columns: repeat(4, minmax(100px, 400px));
            grid-template-rows: repeat(4, minmax(100px, 150px));

            .product-box {
                position: relative;
                background-color: $color-gray-3;
                border-radius: $border-radius-small;
                height: 100%;
                width: 100%;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                }

                &:hover {
                    .product-menu {
                        top: 5%;
                    }

                    .product-body {
                        height: 25%;
                    }

                    .product-background {
                        height: 100%;
                    }
                }

                .product-menu {
                    position: absolute;
                    z-index: 1;
                    top: 100%;
                    right: 5%;
                    list-style: none;
                    margin: auto;
                    padding: 0.6rem;
                    font-size: 1.25rem;
                    border: 1px solid black;
                    border-radius: $border-radius-medium;
                    background: $color-white;
                    transition: top 0.3s ease-in-out;

                    li {
                        margin-top: 0.2rem;
                        margin-bottom: 0.2rem;

                        a {
                            color: $color-gray-0;

                            &:hover {
                                color: $color-theme;
                            }
                        }
                    }
                }

                .product-body {
                    position: absolute;
                    bottom: 0;
                    height: 2rem;
                    padding-left: 1.5rem;
                    color: $color-white;
                    z-index: 1;
                    font-size: 1rem;
                    transition: 0.3s ease-in-out;
                    width: 100%;

                    h1 {
                        font-size: 1.125rem;
                        margin-bottom: 0.4rem;
                    }

                    button {
                        background-color: transparent;
                        color: $color-white;
                        font-size: 0.875rem;
                        padding-left: 0.8em;
                        padding-right: 0.8em;
                        border: 1px solid whitesmoke;
                        margin: .5rem 0;
                    }

                    p {
                        text-decoration: line-through;
                        margin-bottom: 0.5rem;
                    }

                    .product-discount-price {
                        color: $color-theme;
                        font-weight: $font-weight-medium;
                        font-size: 1.5em;
                        text-decoration: none;
                        margin-bottom: 0;
                    }

                    .product-discount-rating {
                        padding-right: 2rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .product-rating {
                            color: $color-theme;
                        }
                    }
                }

                .product-background {
                    position: absolute;
                    bottom: 0;
                    height: 3rem;
                    width: 100%;
                    background-color: $color-theme-dark;
                    opacity: 0.90;
                    transition: height 0.3s ease-in-out;
                }
            }

            .small-grid {
                &:hover {
                    .product-body {
                        height: 50%;
                    }
                }
            }

            .box-1 {
                display: none;
                grid-column: span 2;
                grid-row: span 4;
            }

            .box-2 {
                display: none;
                grid-column: span 2;
                grid-row: span 2;
            }

            .box-3 {
                grid-column: span 2;
                grid-row: span 2;
            }
        }
    }
}

.subscribe {
    background-color: $color-gray-4;
    height: 19rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        .subscribe-text {
            width: 60%;
            display: flex;
            flex-direction: column;

            h1 {
                color: $color-theme-dark;
                font-family: $font-play;
                font-weight: $font-weight-bold;
                font-size: 2.25rem;

                span {
                    color: $color-theme;
                }
            }

            .email {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: $border-radius-medium;
                overflow: hidden;
                border: 1px solid $color-gray-2;
                height: 3rem;
                background-color: $color-white;

                input[type=text] {
                    height: 100%;
                    border: none;
                    font-size: 0.875rem;
                    width: 100%;
                    text-indent: 1.563rem;
                }

                button {
                    border-radius: $border-radius-medium;
                    color: $color-white;
                    background-color: $color-theme;
                    margin: 0 .3rem;
                    padding: .5rem 1.2rem;
                    border: none;

                    &:hover {
                        background-color: $color-theme-dark;
                    }
                }
            }
        }

        .gray-box {
            width: 35%;
            height: 19rem;
            background-color: $color-gray-1;
        }
    }
}

/* Account Page */

.site-bar {
    background-color: $color-theme-dark-light;
    color: $color-theme;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1.5rem;
            font-weight: $font-weight-medium;
        }

        h2 {

            user-select: none;
            font-size: 1rem;

            a {
                text-decoration: none;
                color: $color-theme;
            }

            span {
                color: $color-white;
            }
        }
    }
}

/* Login + Register form */
.login-register {
    padding: 6rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: fit-content;
        gap: 1.5rem;

        .login {
            background-color: $color-gray-4;
            border-radius: $border-radius-small;
            width: 100%;
            height: fit-content;
            padding: 1.5rem;

            h1 {
                font-size: 1.5rem;
                font-weight: $font-weight-medium;
            }

            h2 {
                padding-top: 1rem;
                font-size: 1rem;

                span {
                    color: $color-theme;
                }
            }

            >input {
                height: 2.5rem;
                width: 100%;
                border: none;
                text-indent: 1rem;
                border-radius: calc($border-radius-small / 2);
            }

            button {
                height: 3rem;
                margin-top: 1.5rem;
                font-size: 1.125rem;
                font-weight: $font-weight-medium;
                width: 100%;
                &:focus {
                    background-color: $color-theme-dark;
                    color: $color-white;
                }
            }

            .remember-forgot {
                padding: 1rem 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                label {
                    user-select: none;

                    input {
                        transform: scale(1.2);
                        margin-right: 0.5rem;
                    }
                }

                a {
                    color: $color-theme;
                    text-decoration: none;
                }
            }

            .login-alternative {
                user-select: none;
                display: flex;
                justify-content: space-between;
                align-content: center;
                h3 {
                    font-size: 1rem;
                    font-weight: $font-weight-medium;
                }
            }

            .facebook-google {
                display: flex;

                .socials-btn {
                    user-select: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: $border-radius-small;
                    color: $color-white;
                    border: none;
                    padding: 0.7rem;

                    p {
                        margin: 0;
                    }

                    &:hover {
                        background-color: $color-theme-dark;
                    }
                }

                .facebook-btn {
                    margin-right: .3rem;
                    background-color: #3B5998;
                }

                .google-btn {
                    background-color: #4285F4;
                    margin-left: .3rem
                }
            }
        }

        .register {
            background-color: $color-gray-4;
            border-radius: $border-radius-small;
            width: 100%;
            height: fit-content;
            padding: 1.5rem;

            .register-p {
                color: #777777;
                font-size: 0.875rem;
                padding: 1rem 0 0 0;
            }

            h1 {
                font-size: 1.5rem;
                font-weight: $font-weight-medium;
            }

            h2 {
                padding-top: 1rem;
                font-size: 1rem;

                span {
                    color: $color-theme;
                }
            }

            > input {
                border-radius: calc($border-radius-small / 2);
                height: 2.5rem;
                width: 100%;
                border: none;
                text-indent: 1rem;
            }

            .register-data-p {
                span {
                    font-family: $font-montserrat;
                    font-weight: 600;
                    color: $color-theme;
                }
            }

            button {
                height: 3rem;
                margin: 1rem 0;
                font-size: 1.125rem;
                font-weight: $font-weight-medium;
                width: 100%;
                &:focus {
                    background-color: $color-theme-dark;
                    color: $color-white;
                }
            }
        }
    }
}

footer {
    background-color: #080C24;
    color: $color-white;

    .container {
        .copyright {
            height: 4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.875rem;
        }
    }
}

/* Screens Greater than mobile */
@media (min-width: 768px) {
    .products-grid {
        justify-content: space-between;

        .product-box {
            width: 22rem;
        }

        .box-2 {
            display: block;
        }

        .box-3 {
            display: none;
        }
    }

    .top-header {
        .container {
            justify-content: space-between;

            .menu-links {
                display: block;
            }
        }
    }

    .main-header {
        .container {
            .search {
                display: flex;
            }
        }
    }

    .discount-banner {
        .container {
            .discount {
                width: 30%;
            }
        }
    }

    .sale {
        .container {
            .flash-sale {
                width: 27%;
            }

            .countdown {
                .date {
                    width: 80%;

                    .circle {
                        width: 90px;
                        height: 90px;
                    }
                }
            }
        }
    }

    .top-sell {
        .container {
            .grid-top-sellers {
                .box-1 {
                    display: none;
                }

                .box-2 {
                    display: block;
                }
            }
        }
    }

    .subscribe {
        .container {
            .subscribe-text {
                width: 50%;
            }

            .gray-box {
                width: 45%;
            }
        }
    }
}

/* Screens Greater than tablet */
@media (min-width: 992px) {
    .products-grid {
        .product-box {
            width: 19rem;
        }

        .box-2 {
            display: block;
        }

        .box-3 {
            display: block;
        }
    }

    .top-header {
        .container {
            .menu-links {
                .links {
                    display: inline;
                }
            }
        }
    }

    .main-header {
        .container {
            .logo {
                display: inline;
            }

            .shopping-links {
                a {
                    &:first-child {
                        margin: 0 2rem 0 0;
                    }
                }
            }
        }
    }

    .shopping-banner {
        .container {
            img {
                display: inline;
            }
        }
    }

    .shopping-benefits {
        .container {
            max-width: 1650px;
            flex-direction: row;

            .benefits {
                margin: 0 1.4rem;
            }
        }
    }

    .shop-by-category {
        .container {
            .grid {
                grid-template-columns: repeat(5, minmax(100px, 249px));
                grid-template-rows: repeat(3, minmax(100px, 249px));
            }
        }
    }

    .discount-banner {
        .container {
            .discount {
                width: 20%;
            }
        }
    }

    .sale {
        .container {
            .flash-sale {
                width: 20%;
            }

            .countdown {
                .date {
                    margin: 0;
                    width: 70%;

                    .circle {
                        width: 119px;
                        height: 119px;
                    }
                }
            }
        }
    }

    .top-sell {
        .container {
            .grid-top-sellers {
                display: grid;

                .box-1 {
                    display: block;
                }

                .box-2 {
                    display: block;
                }
            }
        }
    }

    .subscribe {
        .container {
            .subscribe-text {
                width: 32%;
            }

            .gray-box {
                width: 50%;
            }
        }
    }
    

    .login-register {
        .container {
            flex-direction: row;
        }
    }
}

@media (min-width: 1200px) {
    .products-grid {
        .product-box {
            width: 23rem;
        }
    }
}

@media (min-width: 1400px) {
    .products-grid {
        .product-box {
            width: 26rem;
        }
    }
}