/* Varibales */
/* General */
html,
body {
  color: #0E153D;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Remove padding from all containers*/
.container {
  padding: 0;
}

/* General button theme */
.btn-theme {
  background-color: #20D3C2;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  font-weight: 500;
  padding: 0.4rem 1.6rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn-theme:hover {
  background-color: #0E153D;
  color: #FFFFFF;
}
.btn-theme:focus {
  background-color: #0E153D;
  color: #FFFFFF;
}

/* General white button theme */
.btn-white {
  background-color: #FFFFFF;
  border: none;
  border-radius: 25px;
  color: #20D3C2;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0.938rem 0;
  padding: 0.625rem 1.6rem;
}
.btn-white:hover {
  background-color: #20D3C2;
  color: #FFFFFF;
}
.btn-white:focus {
  background-color: #20D3C2;
  color: #FFFFFF;
}

/* General style for text sections between content */
.text-section {
  color: #0E153D;
  text-align: center;
}
.text-section .dark-h2 {
  font-family: "Play", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
}
.text-section .dark-h2 span {
  color: #20D3C2;
}
.text-section img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.text-section p {
  padding: 1rem 0;
}

/* General grid layout start */
.products-grid {
  display: flex;
  justify-content: center;
  padding: 1rem 0 8rem 0;
}
.products-grid .product-box {
  background-color: #EEEEEE;
  border-radius: 8px;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 26rem;
}
.products-grid .product-box img {
  height: 400px;
  width: 100%;
}
.products-grid .product-box:hover .product-menu {
  transform: translateY(-200%);
}
.products-grid .product-box:hover .product-body {
  transform: translateY(0%);
}
.products-grid .product-box:hover .product-background {
  transform: translateY(0%);
}
.products-grid .product-box .product-menu {
  background: #FFFFFF;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 1.25rem;
  list-style: none;
  margin: auto;
  padding: 0.6rem;
  position: absolute;
  right: 5%;
  transform: translateY(0%);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}
.products-grid .product-box .product-menu li {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}
.products-grid .product-box .product-menu li a {
  color: #AAAAAA;
  display: inline-block;
  position: relative;
}
.products-grid .product-box .product-menu li a .tooltiptext {
  display: none;
}
.products-grid .product-box .product-menu li a:hover {
  color: #20D3C2;
}
.products-grid .product-box .product-menu li a:hover .tooltiptext {
  background-color: #20D3C2;
  border-radius: 6px;
  color: #fff;
  display: block;
  font-size: 0.875rem;
  margin: 0 1rem;
  padding: 0.313rem 0;
  position: absolute;
  right: 95%;
  text-align: center;
  width: 125px;
  z-index: 1;
}
.products-grid .product-box .product-menu li a:hover .tooltiptext::after {
  border-color: transparent transparent transparent #20D3C2;
  border-style: solid;
  border-width: 5px;
  content: " ";
  left: 100%;
  margin-top: -5px;
  position: absolute;
  top: 50%;
}
.products-grid .product-box .product-body {
  bottom: 0;
  color: #FFFFFF;
  padding: 1rem;
  position: absolute;
  transform: translateY(69%);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  z-index: 1;
}
.products-grid .product-box .product-body .product-title {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}
.products-grid .product-box .product-body button {
  background-color: transparent;
  border: 1px solid whitesmoke;
  color: #FFFFFF;
  font-size: 0.875rem;
  margin: 0.5rem 0;
  padding: 0 0.8em;
}
.products-grid .product-box .product-body p {
  margin-bottom: 0.5rem;
  text-decoration: line-through;
}
.products-grid .product-box .product-body .product-discount-rating {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.products-grid .product-box .product-body .product-discount-rating .product-discount-price {
  color: #20D3C2;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0;
  text-decoration: none;
}
.products-grid .product-box .product-body .product-discount-rating .product-rating {
  color: #20D3C2;
}
.products-grid .product-box .product-background {
  background-color: #0E153D;
  bottom: 0;
  height: 100%;
  opacity: 0.9;
  position: absolute;
  transform: translateY(87%);
  transition: transform 0.3s ease-in-out;
  width: 100%;
}
.products-grid .box-2 {
  display: none;
}
.products-grid .box-3 {
  display: none;
}

/* General grid layout end */
/* in stock color */
.instock {
  color: #82D8C6;
}

/* out of stock color */
.outofstock {
  color: #FE6C6C;
}

/* Blue header start */
.top-header {
  background-color: #20D3C2;
  color: #FFFFFF;
  height: 3rem;
}
.top-header a {
  color: #FFFFFF;
  margin: 1rem;
  text-decoration: none;
}
.top-header a:hover {
  color: #0E153D;
}
.top-header > .container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  /* Languange and Currency Settings */
  /* Top right links and socials start*/
  /* Top right links and socials end */
}
.top-header > .container .localization {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.top-header > .container .localization .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  min-width: 1rem !important;
}
.top-header > .container .localization .dropdown-theme {
  background-color: #20D3C2;
  color: #FFFFFF;
}
.top-header > .container .localization .dropdown-theme button {
  background-color: #20D3C2;
  border: none;
  color: #FFFFFF;
  padding: 0;
}
.top-header > .container .localization .dropdown-theme button:hover {
  color: #0E153D;
}
.top-header > .container .localization .dropdown-item {
  margin: 0;
}
.top-header > .container .localization .dropdown-item:hover {
  background-color: #20D3C2;
}
.top-header > .container .menu-links {
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.top-header > .container .menu-links .links {
  display: none;
}
.top-header > .container .menu-links .socials a {
  margin: 0.3rem;
}

/* Blue header end */
/* Main header start */
.main-header {
  background-color: #FFFFFF;
  color: #0E153D;
  /* Browse categories + special offer button start (Navbar) */
  /* Browse categories + special offer button end (Navbar)*/
}
.main-header > .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Shopping links start (My account, favorite, compare, cart) */
  /* Shopping links end */
}
.main-header > .container .logo {
  flex: 2;
  padding: 1rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main-header > .container .search {
  align-items: center;
  display: none;
  flex: 4;
  height: 3rem;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main-header > .container .search input[type=text] {
  border: 1px solid #E3E3E3;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  height: 100%;
  text-indent: 1.536rem;
  width: 100%;
}
.main-header > .container .search button {
  align-items: center;
  background-color: #20D3C2;
  border: none;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  color: #FFFFFF;
  display: flex;
  font-size: 1.125rem;
  justify-content: center;
  padding: 0.938rem;
}
.main-header > .container .shopping-links {
  align-items: center;
  display: flex;
  flex: 3;
  justify-content: flex-end;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main-header > .container .shopping-links a {
  color: #0E153D;
  margin: 0 0.4rem;
  position: relative;
  text-decoration: none;
}
.main-header > .container .shopping-links a:hover {
  color: #20D3C2;
}
.main-header > .container .shopping-links a:first-child {
  margin: 0 0.5rem 0 0;
}
.main-header > .container .shopping-links a:last-child {
  margin: 0 0 0 0.4rem;
}
.main-header > .container .shopping-links a div {
  align-items: center;
  background-color: #20D3C2;
  border-radius: 50%;
  bottom: 50%;
  display: flex;
  height: 17px;
  justify-content: center;
  left: 50%;
  position: absolute;
  width: 17px;
}
.main-header > .container .shopping-links a div span {
  background-color: transparent;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  z-index: 1;
}
.main-header > .container .shopping-links a .cart-number {
  left: 10%;
}
.main-header nav {
  border-top: 1px solid #E3E3E3;
}
.main-header nav > .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.main-header nav > .container .categories {
  flex: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main-header nav > .container .categories .dropdown button {
  align-items: center;
  background-color: #20D3C2;
  border: none;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  width: 100%;
}
.main-header nav > .container .categories .dropdown button:hover {
  background-color: #0E153D;
  color: #FFFFFF;
}
.main-header nav > .container .categories .dropdown button:focus {
  background-color: #0E153D;
  color: #FFFFFF;
}
.main-header nav > .container .categories .dropdown button span {
  align-items: center;
  display: flex;
}
.main-header nav > .container .categories .dropdown button span i {
  font-size: 1.2em;
}
.main-header nav > .container .categories .dropdown .dropdown-menu {
  background-color: #20D3C2;
  border: none;
  border-radius: 0;
  width: 100%;
}
.main-header nav > .container .categories .dropdown .dropdown-menu .dropdown-item {
  background-color: #20D3C2;
  color: #FFFFFF;
}
.main-header nav > .container .categories .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #0E153D;
}
.main-header nav > .container .special-offer {
  align-items: center;
  display: flex;
  flex: 7;
  justify-content: flex-end;
}

/* Main header end */
/* Shopping is more fun banner start */
.shopping-banner {
  background-color: #EEEEEE;
}
.shopping-banner .container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.shopping-banner .container .shopping-text {
  width: 55%;
}
.shopping-banner .container .shopping-text .shopping-header {
  display: flex;
  flex-direction: column;
  font-family: "Play", sans-serif;
  font-size: 3.75rem;
  padding-bottom: 0.938rem;
}
.shopping-banner .container .shopping-text .shopping-header .shopping-bold {
  color: #20D3C2;
  font-weight: 700;
}
.shopping-banner .container img {
  display: none;
}

/* Shopping is more fun banner end */
/* Shopping benefits content start */
.shopping-benefits .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 500px;
  padding: 6rem 0;
}
.shopping-benefits .container .benefits {
  align-items: center;
  background-color: #EDFCFA;
  border-radius: 8px;
  display: flex;
  flex: 1;
  margin: 0.4rem 1.4rem;
  padding: 1.3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.shopping-benefits .container .benefits:hover {
  background-color: #20D3C2;
  color: #FFFFFF;
}
.shopping-benefits .container .benefits:hover img {
  filter: brightness(0) invert(1);
}
.shopping-benefits .container .benefits:hover .benefit-h1 {
  color: #FFFFFF;
}
.shopping-benefits .container .benefits img {
  margin-right: 1.5rem;
}
.shopping-benefits .container .benefits .benefit-h1 {
  color: #20D3C2;
  font-size: 1rem;
}

/* Shopping benefits content end */
/* Category grid start */
.shop-by-category .container .grid {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 249px));
  grid-template-rows: repeat(3, minmax(100px, 249px));
  padding-top: 1rem;
  row-gap: 0.75rem;
}
.shop-by-category .container .grid .category-box {
  border-radius: 8px;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.shop-by-category .container .grid .category-box:hover .category-box-title {
  height: 4rem;
}
.shop-by-category .container .grid .category-box .category-box-title {
  background-color: #0E153D;
  border-radius: 0 8px 0 0;
  bottom: 0;
  font-size: 1rem;
  height: 2.5rem;
  position: absolute;
  transition: height 0.3s ease-in-out;
  width: 50%;
}
.shop-by-category .container .grid .category-box .category-box-title .grid-title {
  color: #20D3C2;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.3125rem;
  padding: 0.7rem 0 0 1rem;
}
.shop-by-category .container .grid .category-box .category-box-title p {
  color: #FFFFFF;
  font-size: 0.875rem;
  padding: 0 0 0 1rem;
}
.shop-by-category .container .grid .c-2 {
  grid-column: span 2;
}
.shop-by-category .container .grid .cr-2 {
  grid-column: span 2;
  grid-row: span 2;
}

/* Category grid end */
/* New arrivals flex start */
.new-arrivals {
  padding-top: 4rem;
}

/* New arrivals flex end */
/* Discount content start */
.discount-banner {
  background-color: #CCCCCC;
}
.discount-banner .container {
  align-items: center;
  display: flex;
  height: 26.125rem;
  justify-content: space-between;
}
.discount-banner .container .discount {
  align-items: center;
  background-color: #20D3C2;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 40%;
}
.discount-banner .container .discount .discount-h2 {
  font-family: "Play", sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
}
.discount-banner .container .discount .discount-h2 span {
  font-size: 2.25rem;
}
.discount-banner .container .discount p {
  font-size: 1rem;
}
.discount-banner .container .discount button {
  background-color: #0E153D;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0.625rem 0;
  padding: 0.625rem 1.563rem;
}
.discount-banner .container .discount button:hover {
  background-color: #FFFFFF;
  color: #20D3C2;
}
.discount-banner .container .discount button:focus {
  background-color: #FFFFFF;
  color: #20D3C2;
}
.discount-banner .container .learn-more {
  color: #FFFFFF;
  font-size: 0.875rem;
  width: 35%;
}

/* Discount content end */
/* Featured products flex start */
.feature .container {
  padding: 6rem 0 1rem 0;
}

/* Featured products flex end */
/* Flash sale banner start */
.sale {
  background-color: #0E153D;
}
.sale .container {
  display: flex;
  height: 27.1875rem;
  justify-content: space-between;
  padding: 0;
  /* Countdown timer start */
  /* Countdown timer end */
}
.sale .container .flash-sale {
  align-items: center;
  background-color: #20D3C2;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
  width: 37%;
}
.sale .container .flash-sale .discount-h2 {
  font-family: "Play", sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}
.sale .container .flash-sale .discount-h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem 0;
}
.sale .container .countdown {
  align-items: center;
  color: #20D3C2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.sale .container .countdown .date {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sale .container .countdown .date .circle {
  align-items: center;
  background-color: white;
  border: 2px dotted #20D3C2;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  margin: 0.2rem;
  width: 80px;
}
.sale .container .countdown .date .time-left {
  font-family: "Play", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
}
.sale .container .countdown .date p {
  color: #0E153D;
}
.sale .container button {
  border-radius: 40px;
  margin: 0.938rem 0;
  padding: 0.938rem 1.875rem;
}

/* Flash sale banner end */
/* Top Sellers grid start */
.top-sell .container {
  padding: 6rem 0;
}
.top-sell .container .grid-top-sellers {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  display: flex;
  grid-template-columns: repeat(4, minmax(100px, 400px));
  grid-template-rows: repeat(4, minmax(100px, 150px));
  justify-content: center;
  padding: 1rem 0;
  row-gap: 0.75rem;
}
.top-sell .container .grid-top-sellers .product-box {
  background-color: #EEEEEE;
  border-radius: 8px;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.top-sell .container .grid-top-sellers .product-box img {
  height: 100%;
  width: 100%;
}
.top-sell .container .grid-top-sellers .product-box:hover .product-menu {
  top: 5%;
}
.top-sell .container .grid-top-sellers .product-box:hover .product-body {
  height: 18%;
}
.top-sell .container .grid-top-sellers .product-box:hover .product-background {
  height: 100%;
}
.top-sell .container .grid-top-sellers .product-box .product-menu {
  background: #FFFFFF;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 1.25rem;
  list-style: none;
  margin: auto;
  padding: 0.6rem;
  position: absolute;
  right: 5%;
  top: 100%;
  transition: top 0.3s ease-in-out;
  z-index: 2;
}
.top-sell .container .grid-top-sellers .product-box .product-menu li {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}
.top-sell .container .grid-top-sellers .product-box .product-menu li a {
  color: #AAAAAA;
  display: inline-block;
  position: relative;
}
.top-sell .container .grid-top-sellers .product-box .product-menu li a .tooltiptext {
  display: none;
}
.top-sell .container .grid-top-sellers .product-box .product-menu li a:hover {
  color: #20D3C2;
}
.top-sell .container .grid-top-sellers .product-box .product-menu li a:hover .tooltiptext {
  background-color: #20D3C2;
  border-radius: 6px;
  color: #fff;
  display: block;
  font-size: 0.875rem;
  margin: 0 1rem;
  padding: 0.313rem 0;
  position: absolute;
  right: 95%;
  text-align: center;
  width: 125px;
  z-index: 1;
}
.top-sell .container .grid-top-sellers .product-box .product-menu li a:hover .tooltiptext::after {
  border-color: transparent transparent transparent #20D3C2;
  border-style: solid;
  border-width: 5px;
  content: " ";
  left: 100%;
  margin-top: -5px;
  position: absolute;
  top: 50%;
}
.top-sell .container .grid-top-sellers .product-box .product-body {
  bottom: 0;
  color: #FFFFFF;
  font-size: 1rem;
  height: 2rem;
  padding-left: 1.5rem;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 100%;
  z-index: 1;
}
.top-sell .container .grid-top-sellers .product-box .product-body .product-title {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}
.top-sell .container .grid-top-sellers .product-box .product-body button {
  background-color: transparent;
  border: 1px solid whitesmoke;
  color: #FFFFFF;
  font-size: 0.875rem;
  margin: 0.5rem 0;
  padding: 0 0.8em;
}
.top-sell .container .grid-top-sellers .product-box .product-body p {
  margin-bottom: 0.5rem;
  text-decoration: line-through;
}
.top-sell .container .grid-top-sellers .product-box .product-body .product-discount-price {
  color: #20D3C2;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0;
  text-decoration: none;
}
.top-sell .container .grid-top-sellers .product-box .product-body .product-discount-rating {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}
.top-sell .container .grid-top-sellers .product-box .product-body .product-discount-rating .product-rating {
  color: #20D3C2;
}
.top-sell .container .grid-top-sellers .product-box .product-background {
  background-color: #0E153D;
  bottom: 0;
  height: 3rem;
  opacity: 0.9;
  position: absolute;
  transition: height 0.3s ease-in-out;
  width: 100%;
}
.top-sell .container .grid-top-sellers .small-grid:hover .product-body {
  height: 50%;
}
.top-sell .container .grid-top-sellers .box-1 {
  grid-column: span 2;
  grid-row: span 4;
}
.top-sell .container .grid-top-sellers .box-2 {
  display: none;
  grid-column: span 2;
  grid-row: span 2;
}
.top-sell .container .grid-top-sellers .box-3 {
  display: none;
  grid-column: span 2;
  grid-row: span 2;
}

/* Top Sellers grid end */
/* Subscribe banner start */
.subscribe {
  align-items: center;
  background-color: #F6F6F6;
  display: flex;
  height: 19rem;
  justify-content: space-between;
}
.subscribe .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.subscribe .container .subscribe-text {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.subscribe .container .subscribe-text .subscribe-h2 {
  color: #0E153D;
  font-family: "Play", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
}
.subscribe .container .subscribe-text .subscribe-h2 span {
  color: #20D3C2;
}
.subscribe .container .subscribe-text .email {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 25px;
  display: flex;
  height: 3rem;
}
.subscribe .container .subscribe-text .email input[type=text] {
  border: none;
  border-radius: 25px;
  font-size: 0.875rem;
  height: 100%;
  text-indent: 1.563rem;
  width: 100%;
}
.subscribe .container .subscribe-text .email button {
  border: none;
  margin: 0 0.3rem;
  padding: 0.5rem 1.2rem;
}
.subscribe .container .gray-box {
  background-color: #CCCCCC;
  height: 19rem;
  width: 35%;
}

/* Subscribe banner end */
/* Account Page - greybar start */
.site-bar {
  align-items: center;
  background-color: #50546E;
  color: #20D3C2;
  display: flex;
  height: 8rem;
  justify-content: space-between;
}
.site-bar .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.site-bar .container .site-bar-h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
.site-bar .container .site-bar-h2 {
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.site-bar .container .site-bar-h2 a {
  color: #20D3C2;
  text-decoration: none;
}
.site-bar .container .site-bar-h2 span {
  color: #FFFFFF;
}

/* Account Page - greybar end */
/* Login + Register form start */
.login-register {
  padding: 6rem 0;
}
.login-register .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: auto;
  justify-content: space-between;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.login-register .container .login {
  background-color: #F6F6F6;
  border-radius: 8px;
  height: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 1.5rem;
  width: 100%;
}
.login-register .container .login .form-text {
  color: #0E153D;
  font-size: 1.5rem;
  font-weight: 500;
}
.login-register .container .login .form-h2 {
  font-size: 1rem;
  padding-top: 1rem;
}
.login-register .container .login .form-h2 span {
  color: #20D3C2;
}
.login-register .container .login > input {
  border: none;
  border-radius: 4px;
  height: 2.5rem;
  text-indent: 1rem;
  width: 100%;
}
.login-register .container .login > label {
  color: #CC0033;
  font-size: 0.875rem;
}
.login-register .container .login button {
  font-size: 1.125rem;
  font-weight: 500;
  height: 3rem;
  margin-top: 1.5rem;
  width: 100%;
}
.login-register .container .login button:focus {
  background-color: #0E153D;
  color: #FFFFFF;
}
.login-register .container .login .remember-forgot {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.login-register .container .login .remember-forgot label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login-register .container .login .remember-forgot label input {
  margin-right: 0.5rem;
  transform: scale(1.2);
}
.login-register .container .login .remember-forgot a {
  color: #20D3C2;
  text-decoration: none;
}
.login-register .container .login .login-external {
  align-content: center;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login-register .container .login .login-external .alternatives {
  font-size: 1rem;
  font-weight: 500;
}
.login-register .container .login .facebook-google {
  display: flex;
}
.login-register .container .login .facebook-google .facebook-btn {
  align-items: center;
  background-color: #4285F4;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin-right: 0.3rem;
  padding: 0.7rem;
}
.login-register .container .login .facebook-google .facebook-btn span {
  width: 10%;
}
.login-register .container .login .facebook-google .google-btn {
  align-items: center;
  background-color: #4285F4;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin-left: 0.3rem;
  padding: 0.7rem;
}
.login-register .container .login .facebook-google .google-btn span {
  width: 10%;
}
.login-register .container .register {
  background-color: #F6F6F6;
  border-radius: 8px;
  height: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 1.5rem;
  width: 100%;
}
.login-register .container .register .register-p {
  color: #777777;
  font-size: 0.875rem;
  padding: 1rem 0 0 0;
}
.login-register .container .register .form-text {
  color: #0E153D;
  font-size: 1.5rem;
  font-weight: 500;
}
.login-register .container .register .form-h2 {
  font-size: 1rem;
  padding-top: 1rem;
}
.login-register .container .register .form-h2 span {
  color: #20D3C2;
}
.login-register .container .register > input {
  border: none;
  border-radius: 4px;
  height: 2.5rem;
  text-indent: 1rem;
  width: 100%;
}
.login-register .container .register > label {
  color: #CC0033;
  font-size: 0.875rem;
}
.login-register .container .register .register-data-p span {
  color: #20D3C2;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.login-register .container .register button {
  font-size: 1.125rem;
  font-weight: 500;
  height: 3rem;
  margin: 1rem 0;
  width: 100%;
}
.login-register .container .register button:focus {
  background-color: #0E153D;
  color: #FFFFFF;
}

/* Login + Register form end */
/* Footer start */
footer {
  background-color: #080C24;
  color: #FFFFFF;
}
footer .container .copyright {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  height: 4rem;
  justify-content: space-between;
}

/* Footer end */
/* Screens Greater than mobile start */
@media (min-width: 768px) {
  .products-grid {
    justify-content: space-between;
  }
  .products-grid .product-box {
    width: 22rem;
  }
  .products-grid .box-2 {
    display: block;
  }
  .products-grid .box-3 {
    display: none;
  }
  .top-header .container {
    justify-content: space-between;
  }
  .top-header .container .menu-links {
    display: block;
  }
  .main-header > .container {
    display: flex;
    flex-direction: row;
    padding: 2.2rem 0;
  }
  .main-header > .container .logo {
    padding: 0;
  }
  .discount-banner .container .discount {
    width: 30%;
  }
  .sale .container .flash-sale {
    width: 27%;
  }
  .sale .container .countdown .date {
    width: 80%;
  }
  .sale .container .countdown .date .circle {
    height: 90px;
    width: 90px;
  }
  .top-sell .container .grid-top-sellers .box-2 {
    display: none;
  }
  .top-sell .container .grid-top-sellers .box-3 {
    display: none;
  }
  .subscribe .container .subscribe-text {
    width: 50%;
  }
  .subscribe .container .gray-box {
    width: 45%;
  }
}
/* Screens Greater than mobile end */
/* Screens Greater than tablet start */
@media (min-width: 992px) {
  .products-grid .product-box {
    width: 19rem;
  }
  .products-grid .box-2 {
    display: block;
  }
  .products-grid .box-3 {
    display: block;
  }
  .top-header .container .menu-links .links {
    display: inline;
  }
  .main-header .container .search {
    display: flex;
  }
  .main-header .container .shopping-links a:first-child {
    margin: 0 2rem 0 0;
  }
  .shopping-banner .container {
    justify-content: space-between;
  }
  .shopping-banner .container .shopping-text {
    width: 30%;
  }
  .shopping-banner .container img {
    display: inline;
  }
  .shopping-benefits .container {
    flex-direction: row;
    max-width: 1650px;
  }
  .shopping-benefits .container .benefits {
    margin: 0 1.4rem;
  }
  .discount-banner .container .discount {
    width: 20%;
  }
  .sale .container .flash-sale {
    width: 20%;
  }
  .sale .container .countdown .date {
    margin: 0;
    width: 70%;
  }
  .sale .container .countdown .date .circle {
    height: 119px;
    width: 119px;
  }
  .top-sell .container .grid-top-sellers {
    display: grid;
  }
  .top-sell .container .grid-top-sellers .product-box:hover .product-body {
    height: 25%;
  }
  .top-sell .container .grid-top-sellers .box-2 {
    display: block;
  }
  .top-sell .container .grid-top-sellers .box-3 {
    display: block;
  }
  .subscribe .container .subscribe-text {
    width: 32%;
  }
  .subscribe .container .gray-box {
    width: 50%;
  }
  .login-register .container {
    flex-direction: row;
  }
}
/* Screens Greater than tablet end */
/* Fix for 3-products flexbox when shrinking screen */
@media (min-width: 1200px) {
  .products-grid .product-box {
    width: 23rem;
  }
}
/* Fix for 3-products flexbox when shrinking screen */
@media (min-width: 1400px) {
  .products-grid .product-box {
    width: 26rem;
  }
}/*# sourceMappingURL=style.css.map */