// Varibales
$color-gray-0: #AAAAAA;
$color-gray-1: #CCCCCC;
$color-gray-2: #E3E3E3;
$color-gray-3: #EEEEEE;
$color-gray-4: #F6F6F6;
$color-white: #FFFFFF;
$color-theme: #20D3C2;
$color-theme-light: #EDFCFA;
$color-theme-dark: #0E153D;
$color-theme-dark-light: #50546E;
$color-instock: #82D8C6;
$color-outofstock: #FE6C6C;

$font-play: 'Play', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-24: 1.5rem;
$font-size-36: 2.25rem;
$font-size-60: 3.75rem;

$border-radius-small: 8px;
$border-radius-medium: 25px;
$border-radius-rounded: 50%;

$breakpoint-md: 768px;
$breakpoint-md-max-width: 720px;
$breakpoint-lg: 992px;
$breakpoint-lg-max-width: 960px;
$breakpoint-xl: 1200px;
$breakpoint-xl-max-width: 1140px;
$breakpoint-xxl: 1400px;
$breakpoint-xxl-max-width: 1320px;

//Breakpoints
@mixin md {
    @media (min-width: #{$breakpoint-md}) {
        @content
    }
}

@mixin lg {
    @media (min-width: #{$breakpoint-lg}) {
        @content
    }
}

@mixin xl {
    @media (min-width: #{$breakpoint-xl}) {
        @content
    }
}

@mixin xxl {
    @media (min-width: #{$breakpoint-xxl}) {
        @content
    }
}