.login-register {
    padding: 6rem 0;

    .container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        height: auto;
        justify-content: space-between;
        max-height: fit-content;

        @include lg {
            flex-direction: row;
        }

        //login form
        .login {
            background-color: $color-gray-4;
            border-radius: $border-radius-small;
            height: 100%;
            max-height: fit-content;
            padding: 1.5rem;
            width: 100%;

            .form-text {
                color: $color-theme-dark;
                font-size: $font-size-24;
                font-weight: $font-weight-medium;
            }

            .form-h2 {
                font-size: $font-size-16;
                padding-top: 1rem;

                span {
                    color: $color-theme;
                }
            }

            >input {
                border: none;
                border-radius: calc($border-radius-small / 2);
                height: 2.5rem;
                text-indent: 1rem;
                width: 100%;
            }

            >label {
                color: #CC0033;
                font-size: $font-size-14;
            }

            button {
                font-size: $font-size-18;
                font-weight: $font-weight-medium;
                height: 3rem;
                margin-top: 1.5rem;
                width: 100%;

                &:focus {
                    background-color: $color-theme-dark;
                    color: $color-white;
                }
            }

            .remember-forgot {
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding: 1rem 0;

                label {
                    user-select: none;

                    input {
                        margin-right: 0.5rem;
                        transform: scale(1.2);
                    }
                }

                a {
                    color: $color-theme;
                    text-decoration: none;
                }
            }

            .login-external {
                align-content: center;
                display: flex;
                justify-content: space-between;
                user-select: none;

                .alternatives {
                    font-size: $font-size-16;
                    font-weight: $font-weight-medium;
                }
            }

            .facebook-google {
                display: flex;

                .facebook-btn {
                    align-items: center;
                    background-color: #4285F4;
                    border: none;
                    border-radius: $border-radius-small;
                    color: $color-white;
                    display: flex;
                    justify-content: space-between;
                    margin-right: 0.3rem;
                    padding: 0.7rem;

                    span {
                        width: 10%;
                    }
                }

                .google-btn {
                    align-items: center;
                    background-color: #4285F4;
                    border: none;
                    border-radius: $border-radius-small;
                    color: $color-white;
                    display: flex;
                    justify-content: space-between;
                    margin-left: 0.3rem;
                    padding: 0.7rem;

                    span {
                        width: 10%;
                    }
                }
            }
        }

        //Register form
        .register {
            background-color: $color-gray-4;
            border-radius: $border-radius-small;
            height: 100%;
            max-height: fit-content;
            padding: 1.5rem;
            width: 100%;

            .register-p {
                color: #777777;
                font-size: $font-size-14;
                padding: 1rem 0 0 0;
            }

            .form-text {
                color: $color-theme-dark;
                font-size: $font-size-24;
                font-weight: $font-weight-medium;
            }

            .form-h2 {
                font-size: $font-size-16;
                padding-top: 1rem;

                span {
                    color: $color-theme;
                }
            }

            >input {
                border: none;
                border-radius: calc($border-radius-small / 2);
                height: 2.5rem;
                text-indent: 1rem;
                width: 100%;
            }

            >label {
                color: #CC0033;
                font-size: $font-size-14;
            }

            .register-data-p {
                span {
                    color: $color-theme;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                }
            }

            button {
                font-size: $font-size-18;
                font-weight: $font-weight-medium;
                height: 3rem;
                margin: 1rem 0;
                width: 100%;

                &:focus {
                    background-color: $color-theme-dark;
                    color: $color-white;
                }
            }
        }
    }
}